?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\TC.Flight.CommonToolsLibrary.Tools\packages.config" />
  <repository path="..\TC.Flight.Train.DAL\packages.config" />
  <repository path="..\TC.Flight.Train.Fore.Resource\packages.config" />
  <repository path="..\TC.Flight.Train.InterService\packages.config" />
  <repository path="..\TC.Flight.Train.WebBase\packages.config" />
</repositories>